{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Edit Category</h5>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form action="{{ url_for('update_category', category_id=category_id) }}" method="POST" enctype="multipart/form-data">
              {% if category %}
                  <div class="mb-3">
                      <label for="">* Category name</label>
                      <input type="text" name="name" value="{{ category.name}}" class="form-control" required>
                      <input type="hidden" name="category_id" value="{{ category.id}}" class="form-control" required>
                  </div>
                  <div class="mb-3">
                      <label for=""> Slug</label>
                      <input type="text" name="slug" value="{{ category.slug }}" class="form-control" required>
                  </div>
                  <div class="mb-3">
                      <label for="">* Description</label>
                      <textarea  name="description" id="post-textarea" class="form-control"required>
                        {{ category.description }}
                      </textarea>
                  </div>
                  <div class="mb-3">
                      <label for=""> Image</label>
                      <input type="file" name="image" value="{{ category.image }}" class="form-control">
                  </div>

                  <h6>SEO Tags</h6>
                  <div class="mb-3">
                      <label for="">* Meta Title</label>
                      <input type="text" name="meta_title" value="{{ category.meta_title }}" class="form-control" required>
                  </div>
                  <div class="mb-3">
                      <label for=""> * Meta Description</label>
                      <input name="meta_description" value="{{ category.meta_description }}" class="form-control"required>
                  </div>
                  <div class="mb-3">
                      <label for=""> * Meta Keywords</label>
                      <input name="meta_keyword" value="{{ category.meta_keyword }}" class="form-control"required> 
                  </div>

                  <h6>Status Code</h6>
                  <div class="row">
                      <div class="col-md-4 mb-3">
                          <label for="">Navbar Status</label>
                          <input type="checkbox"
                           {% if category.navbar_status == 1 %}
                            checked
                           {% endif %}
                           name="navbar_status"
                           >
                      </div>
                      <div class="col-md-4 mb-3">
                          <label for="">Status</label>
                          <input type="checkbox" 
                          {% if category.status == 1 %}
                            checked
                          {% endif %}
                            name="status"
                          >
                      </div>
                      <div class="col-md-4 mb-3">
                          <a href="{{ url_for('view_category') }}" class="btn btn-default">Back</a>
                          <button type="submit" class="btn btn-primary float-right">Update changes</button>
                      </div>
                  </div>
              {% endif %}
            </form>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- ./card-body -->
      <div class="card-footer">
        
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

{% endblock content %}