{% extends "frontend-layout.html" %}

{% block frontendContent %}
<div class="row">
    <!-- LEFT SIDE CONTENT -->
    <div class="col-md-2 mt-3">
        {% if c_slug %}
            <h3> {{ c_slug.name }} Tutorial</h3>
        {% else %}
            <h3>No category found </h3>
        {% endif %}
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
                data-target="#navbarCategory" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCategory">
                <ul class="nav nav-pills nav-sidebar overflow-auto flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    {% if vs %}
                        {% for pst, cts in vs %}
                            <li class="nav-item">
                                <a href="{{  url_for('post_by_category', category_slug=cts.slug, post_slug=pst.slug) }}" class="nav-link">
                                    <p>{{ pst.name }}</p>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="nav-item">
                            <p> No post Category Content </p>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <!--X-- LEFT SIDE CONTENT --X-->

    <!-- MAIN CONTENT -->
    <div class="col-md-8 col-sm-12 mt-3 shadow ">
        <!-- TOP ADs CONTENT -->
        <div class="row py-3">
            <div class="col my-auto mb-3 text-center border">
                <h6> Top Ads </h6>
            </div>
        </div>
        <div class="row px-2">
            <div class="col-md-12 mx-3">
                <h1 class="category-header"> 
                    {% for post, cat in pst %}
                        {{ post.name }}
                    {% endfor %} 
                </h1>
            </div>
            <div class="col-md-12">
                <div class="mt-5">
                    {% for post, cat in pst %}
                        {{ post.description | safe }}
                    {% endfor %}
                </div>

                <!-- <pre>
                    {% for post, cat in pst %}
                        {{ post.description | safe }}
                    {% endfor %}
                </pre> -->
                <!-- <code>
                    {{ c_slug.description | safe }}
                </code> -->
            </div>
        </div>
    </div>
    <!--X-- MAIN CONTENT --X-->

    <!-- RIGHT SIDE CONTENT -->
    <div class="col-md-2 mt-3 border">
        <div>
            <h5>Advertisements goes here</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sequi magni fugit. Dolor non sequi tempora
                voluptate explicabo, similique quam blanditiis voluptatibus error totam accusantium!
            </p>
        </div>
        <div>
            <h3>Latest Post </h3>
            <ul>
                {% if vs %}
                    {% for pst, cts in vs %}
                        <a href="{{  url_for('post_by_category', category_slug=cts.slug, post_slug=pst.slug) }}" class="text-decoration-none">
                            <li>
                                {{ pst.name }}
                            </li>
                        </a>
                    {% endfor %}
                {% else %}
                    <li>
                        <p> No post </p>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <!--X-- RIGHT SIDE CONTENT --X-->
</div>
{% endblock frontendContent %}