{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title">View Category</h1>
        <a href="category.html" class="btn btn-primary float-right">Add Category</a>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <table id="example1" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category Name</th>
                        <th>Image</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>PHP</td>
                        <td><img src="" alt="category_image"></td>
                        <td>
                            Hidden/Visible
                        </td>
                        <td>
                            <a href="edit-category.html?id=" class="btn btn-success">Edit</a>
                            <a href="delete-category.html?id=" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- ./card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
 
{% endblock content %}